<!DOCTYPE html>
<html>
    <head>
		<title>Open Philology - OCR Pipeline</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">

		<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-glyphicons.css" media="screen">
		<link rel="stylesheet" href="../static/css/style.css" media="screen">

		<script src="../static/js/jquery-1.10.2.min.js"></script>
		<script src="../static/bootstrap/js/bootstrap.js"></script>
		<script src="../static/js/jquery.filedrop.js"></script>
		<script src="../static/js/underscore-min.js"></script>
		<script src="../static/js/backbone-min.js"></script>
		<script src="../static/js/json2.js"></script>
		<script src="../static/js/ocr.js"></script>
    </head>

    <body>

	<!-- Belongs in a header template -->

	<div class="container">
		<div class="row" id="header">
			<div class="col-lg-5 logo-container">
				<img src="../static/images/opp-logo.png">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 side-menu">
				<ul>
					<li class="active">OCR a Book</li>
				</ul>
			</div>
			<div class="col-lg-9 main">

				<div class="helper-links">
					<a href="#"><span class="glyphicon glyphicon-question-sign"></span> OCR FAQ</a> 
					<a href="ocr_tutorial.html"><span class="glyphicon glyphicon-file"></span> OCR Tutorial</a> 
				</div>

				<h2>Optical Character Recognition <small>Use a Scanned Book with Perseus Tools</small></h2>

				<div id="step-progress" style="display: none">
					<div class="step-bar" title="Scan Preparation"></div> <!-- 1: Pre-Scan complete -->
					<div class="step-bar" title="Upload Preparation"></div> <!-- 2: Pre-Upload complete -->
					<div class="step-bar" title="Upload Your Scans"></div> <!-- 3: Upload complete -->
					<div class="step-bar" title="Provide Metadata"></div> <!-- 4: Record metadata complete -->
					<div class="step-bar" title="Complete Processing"></div> <!-- 5: Pre-Processing complete --> 
				</div>

				<!-- Begin Intro Text -->
				<div id="intro-text">
					<hr>
					<p class="lead">Can't find what you are looking for? Is there a particular edition you think we should have? Now you can add it yourself! All you need to do is provide us with the page-scans and a little information about the volume you wish to digitise.</p>
					<p>Your edition will be added to our collection, <em>Scaife Digital Library</em>, and made openly available for collaborative annotation and download. While we accept volumes in all languages, some may take longer to process than others (e.g. Non-Roman scripts like Arabic, Syriac, Hebrew, Chinese, etc.)</p>

					<hr>

					<div class="row">
						<div class="col-lg-4 col-sm-4 scan-dir-sect">
							<img src="../static/images/step-scan.png" alt="Scan a Book" class="img-circle">
							<h4>Scan a Book</h4>
							<p>You can scan the book yourself or request that we scan it.</p>
						</div>
						<div class="col-lg-4 col-sm-4 scan-dir-sect">
							<img src="../static/images/step-process.png" alt="Upload and Process" class="img-circle">
							<h4>Upload and Process</h4>
							<p>Transfer your scans to our service for processing.</p>
						</div>
						<div class="col-lg-4 col-sm-4 scan-dir-sect">
							<img src="../static/images/step-results.png" alt="Approve the Results" class="img-circle">
							<h4>Approve the Results</h4>
							<p>Check for errors, then get to work on your text!</p>
						</div>
					</div>

					<div class="row" style="text-align: center; padding-bottom: 30px">

						<hr>

						<button class="btn btn-error btn-lg">Get Started</button>

						<p style="margin-top: 10px">
							<strong class="error">Before you scan!</strong> Please check our <a href="#" id="scan-reqs">scanning requirements</a> to ensure that your scans can undergo OCR.
						</p>

					</div>
				</div>

				<!-- End Intro Text -->

				<!-- Pane 1: Pre-Scan -->

				<div id="prescan" class="pane" style="display: none">
					<h3>Before you Scan!</h3>
					<p class="lead">Make sure your scanner is set to create images that meet the following criteria:</p>
					<ul>
						<li> Resolution before 400 - 600 DPI</li>
						<li> Greyscale or Color mode (<strong>not</strong> black and white)</li>
						<li> TIFF or PNG format (<strong>not</strong> JPG)</li>
						<li> Images are not compressed in any way.</li>
						<li> If available, scan in <em>Document format</em> rather than <em>Image format</em></li>
					</ul>

					<hr>

					<p><strong class="error">Important Copyright Notice:</strong> In order to avoid copyright violations, we can only accept scans of books whose author or editor was deceased before or in 1942. When there are multiple authors, all must have been deceased before or in 1942 for us to publish the book online.</p>

					<hr>

					<div class="pane-footer">
						<a href="#">Go Back</a>
						<button class="btn">Next Step</button> 
					</div>
				</div>

				<div id="preupload" class="pane" style="display: none">
					<h3>Before you Upload!</h3>
					<p>Your scans must: </p>
					<ul>
						<li> Be in portrait orient, rather than landscape.</li>
						<li> Have facing pages split into their own files.</li>
						<li> Be named or numbered so that they can be processed in order.</li>
						<li> Make lines of text on the scans as level as possible (deskewed).</li> 
					</ul>

					<hr>

					<div class="pane-footer">
						<a href="#">Go Back</a>
						<button class="btn">Next Step</button>
					</div>
				</div>

				<div id="upload" class="pane" style="display: none">
					<h3>Upload your Scans</h3>

					<div id="upload-area">
						<span class="message">Drop images here to upload, 
						<br>
						or upload from your computer.</span>

						<input type="file">
					</div>

					<hr>
					<form role="form">
						<div class="form-group">
							<label for="email" name="email">Your email address:</label>
							<input type="email" name="email" class="form-control">
						</div>
					</form>

					<hr>
					<div class="pane-footer">
						<a href="#">Go Back</a>
						<button class="btn">Upload Scans</button>
					</div>
				</div>

				<div id="metadata" class="pane" style="display: none">
					<div class="alert"><strong>Uploading File</strong> 2 of 27</div>

					<h3>Provide Metadata</h3>
					<p>While your files upload, please share what you know about them so they can be properly catalogued.</p>

					<form role="form">
						<div class="form-group">
							<label for="unique-collection-name">Unique Collection Name</label>
							<input type="text" class="form-control" name="unique-collection-name">
							<p class="help-block">Letters and numbers only, please. No spaces.</p>
						</div>
						<div class="form-group">
							<label for="human-readable-caption">Human-Readable Caption</label>
							<input type="text" class="form-control" name="human-readable-caption">
							<p class="help-block">E.g. Image of Theophrastus no. 128</p>
						</div>
						<div class="form-group">
							<label for="collection-rights">Rights Applicable to this Collection</label>
							<textarea class="form-control"></textarea>
						</div>
					</form>
					<Hr>
					<div class="pane-footer">
						<a href="#">Go Back</a>
						<button class="btn">Next Step</button>
					</div>
				</div>

				<div id="preprocess" class="pane" style="display: none">
					<h3>Pre-Process your Scans</h3>
					<p>This information speeds up the OCR processing engine, but is not mandatory.</p>
					<hr>
					<h4>Select a page that is entirely { target_language }</h4>
					<p>If there is no section that is predominantly in the target language, skip this section.</p>
					<hr>
					<h4>Which font is your text in?</h4>
					<p>If none of these look like the font of your text, skip this section.</p>

					<img src="../static/images/tutorial-font-porsongreek.png" class="img-thumbnail" data-font="porson">
					<p>Porson (also called "Teubner")</p>
					<img src="../static/images/tutorial-font-griechische-antiquagreek.png" class="img-thumbnail" data-font="griechische antiqua">
					<p>Griechische Antiqua</p>
					<img src="../static/images/tutorial-font-zephgreek.png" class="img-thumbnail" data-font="zephgreek">
					<p>ZephGreek</p>

					<label class="checkbox">
						<input type="checkbox"> None of these or cannot tell.
					</label>

					<hr>
					<div class="pane-footer">
						<a href="#">Go Back</a>
						<button class="btn">Process Scans</button>
					</div>
				</div>

				<div id="status" class="pane" style="display: none">
					<h3>All done!</h3>
					<p>Your scans have been placed in our OCR processing queue.</p>

					<table class="table table-bordered" style="width: 80%; margin-left: auto; margin-right: auto">
						<tr>
							<td>Place in Queue</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Estimated Time to Process</td>
							<td>More than 24 hours</td>
						</tr>
					</table>

					<p><strong>We will email you when your scans are ready for review.</strong></p>

					<p><a href="#">Return to Open Philology homepage</a></p>
				</div>
			</div>
		</div>
	</div>

	<!-- end header -->

    </body>
</html>
