<!DOCTYPE html>
<html>
    <head>
		<title>Open Philology - OCR Pipeline</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">

		<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="resources/bootstrap/css/bootstrap-glyphicons.css" media="screen">
		<link rel="stylesheet" href="resources/css/style.css" media="screen">

		<script src="resources/js/jquery-1.10.2.min.js"></script>
		<script src="resources/bootstrap/js/bootstrap.js"></script>
		<script src="resources/js/json2.js"></script>
    </head>

    <body>

	<!-- Belongs in a header template -->

	<div class="container">
		<div class="row" id="header">
			<div class="col-lg-5 logo-container">
				<img src="resources/images/opp-logo.png">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 side-menu">
				<ul>
					<li class="active">OCR a Book</li>
				</ul>
			</div>
			<div class="col-lg-9 main">

				<div class="helper-links">
					<a href="#"><span class="glyphicon glyphicon-question-sign"></span> OCR FAQ</a> 
					<a href="#"><span class="glyphicon glyphicon-file"></span> OCR Tutorial</a> 
				</div>

				<h2>Optical Character Recognition <small>Tutorial</small></h2>

				<hr>
				
				<ul>
					<li><strong><a href="#scan-requirements">Scan Requirements</a></strong></li>
						<ul>
							<li><a href="#choose-settings">Choosing your scanner's settings</a></li>
							<li><a href="#check-dpi-mac">Check the DPI of your scans (Mac)</a></li>
							<li><a href="#check-dpi-windows">Check the DPI of your scans (Windows)</a></li>
						</ul>
					<li><strong><a href="#prepare-scans">Prepare Scans for Upload</a></strong></li>
						<ul>
							<li><a href="#split-pages">Split facing pages</a></li>
						</ul>
					<li><a href="#upload-scans">Upload Scans</a></li>
					<li><a href="#provide-metadata">Provide Metadata</a></li>
					<li><a href="#process-scans">Process Scans</a></li>
					<li><a href="#next-steps">Next Steps</a></li>
				</ul>

				<hr>

				<a name="scan-requirements"></a>
				<h3>Scan Requirements</h3>
				<p class="lead">In order for the OCR engine to properly analyze your scans, they must meet certain requirements.</p>

				<p>You can use any scanner that supports a high enough resolution. Each scanner's settings interface will vary by manufacturer and model. Here are some suggested settings which are standard in most scanning interfaces. The critial components are:</p>

				<ol>
					<li> Document-format scanning (if available)</li>
					<li> Color Mode</li>
					<li> Resolution (DPI) between 400 and 600</li>
					<li> PNG, TIFF, or Pyramidal TIFF format</li>
				</ol>

				<br>
				<img src="resources/images/tutorial-scan-settings.png" class="img-thumbnail img-responsive">
				<br><br>

				<p class="lead">Already have scans? Go through the steps below to make sure your scans are suitable for OCR.</p>

				<hr>

				<h4>Resolution must be between 400 and 600 DPI</h4>
				<p>Dots per inch (DPI) is a measure of dot density, and indicates the level of detail your scan has. </p>

				<hr>

				<img src="resources/images/tutorial-dpi-preview2.png" class="img-thumbnail img-responsive" style="float: left; margin-right: 30px;">

				<h5><strong><a name="check-dpi-mac">Check the DPI of your Scans (Mac)</a></strong></h5>
				<ol>
					<li> Open your scan in Preview. If double-clicking a file does not automatically open Preview, you can locate preview by opening <strong>Finder &raquo; Applications &raquo; Preview</strong></li>
					<li> In Preview's top toolbar, navigate to <strong>Tools &raquo; Show Inspector</strong>. (<a href="resources/images/tutorial-dpi-preview1.png" target="_blank">See Screenshot</a>)</li>
					<li> The resulting pop-up window indicates the image's DPI.</li>
				</ol>

				<p class="alert">
					<strong>Note</strong> You cannot change the DPI to a higher number and retain image quality. You must set the DPI to a high enough setting during the intial scanning process. If the DPI of your images is too low, you will need to re-scan your images. See <a href="#choose-settings">Choosing your scanner's settings</a>.
				</p>

				<br style="clear: both">

				<h5><strong><a name="check-dpi-windows">Check the DPI of your Scans (Windows)</a></strong></h5>

				<hr>

				<h4>Scan in Greyscale or Color Mode</h4>


				<hr>

				<h4>Scan must be in Pyramidal TIFF, TIFF, or PNG format</h4>
				<p>Do <strong>not</strong> convert JPG scans to PNG or TIFF formats. Conversation algorithms will not improve the quality but, contrarily, cause data loss.</p>
				<p>If your scans are not in one of these accepted formats, you will need to rescan your documents. See <a href="#choose-settings">Choosing your scanner's settings</a> for more information.</p>

				<hr>

			</div>
		</div>
	</div>

	<!-- end header -->

    </body>
</html>
